<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>LLWeChat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ll.gyjzh</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ll.gyjzh.wechat</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Allow WeChat Use Bluetooth Peripheral.</string>
	<key>NSCameraUsageDescription</key>
	<string>Use your Camera to record video, using VoIP features.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow WeChat Use your Contact.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Allow WeChat Use Health Share.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Allow WeChat Use Health Update.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow WeChat Use your Location always.</string>
	<key>NSLocationUsageDescription</key>
	<string>Allow WeChat Use your Location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow WeChat Use your Location when in use.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Use your Microphone to record voice messages, using VoIP features.</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow WeChat Use Motion.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow WeChat Use your PhotoLibrary.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
